.gitattributes

# sometimes created by Mac Os X's finder
.DS_Store

# swap files used by vim
*.swp

# xcode
optional_xcode_project/debigulator/debigulator.xcodeproj/project.xcworkspace/xcuserdata/
optional_xcode_project/debigulator/debigulator.xcodeproj/xcuserdata/
optional_xcode_project/debigulator/debigulator.xcodeproj/xcshareddata/*

# optional_xcode_project/hello_gzip.xcodeproj/project.xcworkspace/xcuserdata/
optional_xcode_project/hello_gzip.xcodeproj/xcuserdata/
optional_xcode_project/hello_gzip.xcodeproj/xcshareddata/*
optional_xcode_project/hello_gzip.xcodeproj/project.xcworkspace

build/**
