.gitattributes

# sometimes created by Mac Os X's finder
.DS_Store

# swap files used by vim
*.swp

# xcode
optional_xcode_project/debigulator/debigulator.xcodeproj/project.xcworkspace/xcuserdata/
optional_xcode_project/debigulator/debigulator.xcodeproj/xcuserdata/
optional_xcode_project/debigulator/debigulator.xcodeproj/xcshareddata/*

build/**
